<%-include("admin_header",a)%>
<div id="page-wrapper" style="position: relative;top:30px;">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
             <h2>Table Examples</h2>   
                <h5>Welcome Jhon Deo , Love to see you back. </h5>
               
            </div>
        </div>
         <!-- /. ROW  -->
         <hr />
       
    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                     Advanced Tables
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>UserName</th>
                                    <th>Views</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                    <th>Activite</th>
                                 
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i of data){%>
                                <tr>
                                    <td><%=i.Username%></td>
                                    <td><a href="/adminid/view/<%=i._id%>">View</a></td>
                                    <td><a href="/adminid/edit/<%=i._id%>">Edit</a></td>
                                    <td><a href="/adminid/remove/<%=i._id%>">Remove</a></td>
                                    <td><a href="/adminid/active/<%=i._id%>/<%=i.Active%>">
                                      <% if(i.Active==true){%>
                                        <span>Active</span>

                                      <%}else{%>
                                        <span>DisActive</span>
                                      <%}%>
                                          
                                    </a></td>

                                    </tr>
                                    <%}%>

                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
                                  